<div class="container mt-3">
  <p class="dashboard-h3 title ">My stats</p>
  <p class="dashboard-h3">This week</p>
  <div class="dash">
    <div class="centrer-div-h4">
      <h4 class= "dashboard-h4 " >All tasks and habits</h4>
    </div>
    <div class= "flex-dashboard">
      <% @week_days.each do |week_day| %>
        <div>
          <div class=" item-dashboard"><%= day_time(week_day) %></div>
          <% week_day_coef = @opacity_coeff[week_day] %>
          <% if week_day_coef %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-<%=(week_day_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-10 color-default"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dash">
    <div class="centrer-div-h4"><h4 class= "dashboard-h4 " >Tasks</h4></div>
    <div class= "flex-dashboard">
      <% @week_days.each do |week_day| %>
        <div>
          <div class=" item-dashboard"><%= day_time(week_day) %></div>
          <% week_day_coef = @opacity_coeff_tasks[week_day] %>
          <% if week_day_coef %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-<%=(week_day_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-10 color-default"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dash">
    <div class="centrer-div-h4">
      <h4 class= "dashboard-h4 " >Habits</h4>
    </div>
    <div class= "flex-dashboard">
      <% @week_days.each do |week_day| %>
        <div>
          <div class="item-dashboard"><%= day_time(week_day) %></div>
          <% week_day_coef = @opacity_coeff_habits[week_day] %>
          <% if week_day_coef %>
            <div class=" item-dashboard"><i class="fas fa-circle neat-opacity-<%=(week_day_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class=" item-dashboard"><i class="fas fa-circle neat-opacity-10 color-default"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>

  <p class="dashboard-h3">This month</p>

  <div class="dash mb-5">
    <div class="centrer-div-h4"><h4 class= "dashboard-h4 " > <%= month(Date.today) %> </h4></div>
    <div class= "flex-dashboard grid-dash">
      <% @month_days.each do |month_day| %>
        <div>
          <div class="item-dashboard"><%= day_number(month_day)%></div>
          <% month_coef = @opacity_coeff[month_day] %>
          <% if month_coef %>
            <div class="item-dashboard"><i class="fas fa-circle neat-opacity-<%=(month_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class="item-dashboard"><i class="fas fa-circle neat-opacity-10 color-default"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
</div>
