<div class="container">
  <div class="">
    <h3> Hey, <%=@user.username%></h3>
    <div>
      <%= link_to "Edit my profile", edit_user_registration_path(current_user), class: "btn btn-ghost" %>
    </div>
  </div>

  <div>

  <% @days_abbr.each do |day_abbr| %>
    <% @opacity_coeff.each do |date, counter| %>
      <% if day_abbr != day_time(date) %>
        <div>
          <div><%= day_abbr %></div>
          <div> <i class="fas fa-circle opacity-10 "></i></div>
        </div>
        <% @day + 1.day %>
      <% else %>
        <div>
          <div><%= day_abbr %></div>
          <div> <i class="fas fa-circle opacity-<%=(counter * 100).to_i%>"></i></div>
          <% @day + 1.day %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
