<div class="container mt-3">
  <h3 class="dashboard-h3"> Hi, <%=@user.username%></h3>
  <p class="dashboard-h3">Trend your tasks and habits</p>

  <div class="dash">
    <div class="centrer-div-h4">
      <h4 class= "dashboard-h4 " >All</h4>
    </div>
    <div class= "flex-dashboard">
      <% @week_days.each do |week_day| %>
        <div>
          <div class=" item-dashboard"><%= day_time(week_day) %></div>
          <% week_day_coef = @opacity_coeff[week_day] %>
          <% if week_day_coef %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-<%=(week_day_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-10 color-icon"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dash">
    <div class="centrer-div-h4"><h4 class= "dashboard-h4 " >Tasks</h4></div>
    <div class= "flex-dashboard">
      <% @week_days.each do |week_day| %>
        <div>
          <div class=" item-dashboard"><%= day_time(week_day) %></div>
          <% week_day_coef = @opacity_coeff_tasks[week_day] %>
          <% if week_day_coef %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-<%=(week_day_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-10 color-icon"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dash">
    <div class="centrer-div-h4">
      <h4 class= "dashboard-h4 " >Habits</h4>
    </div>
    <div class= "flex-dashboard">
      <% @week_days.each do |week_day| %>
        <div>
          <div class="item-dashboard"><%= day_time(week_day) %></div>
          <% week_day_coef = @opacity_coeff_habits[week_day] %>
          <% if week_day_coef %>
            <div class=" item-dashboard"><i class="fas fa-circle neat-opacity-<%=(week_day_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class=" item-dashboard"><i class="fas fa-circle neat-opacity-10 color-icon"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dash">
    <div class="centrer-div-h4"><h4 class= "dashboard-h4 " >Your month</h4></div>
    <div class= "flex-dashboard grid-dash">
      <% @month_days.each do |month_day| %>
        <div>
          <div class="item-dashboard"><%= month_day%></div>
          <% week_day_coef = @opacity_coeff[month_day] %>
          <% if week_day_coef %>
            <div class="item-dashboard"><i class="fas fa-circle neat-opacity-<%=(week_day_coef * 100).to_i%> color-icon"></i></div>
          <% else %>
            <div class="item-dashboard"><i class="fas fa-circle neat-opacity-10 color-icon"></i></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
