<div class="container mt-3">
  <h3 class="dashboard-h3"> Hi, <%=@user.username%></h3>
  <p class="dashboard-h3">Trend your tasks and habits</p>

  <div class="dash">
    <div class="centrer-div-h4"><h4 class= "dashboard-h4 " >All</h4></div>
    <div class= "flex-dashboard">
      <% @days_abbr.each do |day_abbr| %>
        <% @opacity_coeff.each do |date, counter| %>
          <% if day_abbr != day_time(date) %>
            <div >
              <div class=" item-dashboard"><%= day_abbr %></div>
              <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-10 color-icon"></i></div>
            </div>
            <% @day + 1.day %>
          <% else %>
            <div>
              <div class=" item-dashboard"><%= day_abbr %></div>
              <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-<%=(counter * 100).to_i%> color-icon"></i></div>
              <% @day + 1.day %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="dash">
    <div class="centrer-div-h4"><h4 class= "dashboard-h4 " >Tasks</h4></div>
    <div class= "flex-dashboard">
      <% @days_abbr.each do |day_abbr| %>
        <% @opacity_coeff_tasks.each do |date, counter| %>
          <% if day_abbr != day_time(date) %>
            <div >
              <div class=" item-dashboard"><%= day_abbr %></div>
              <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-10  color-icon"></i></div>
            </div>
            <% @day + 1.day %>
          <% else %>
            <div>
              <div class=" item-dashboard"><%= day_abbr %></div>
              <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-<%=(counter * 100).to_i%> color-icon"></i></div>
              <% @day + 1.day %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

   <div class="dash">
    <div class="centrer-div-h4"><h4 class= "dashboard-h4 " >Habits</h4></div>
    <div class= "flex-dashboard">
      <% @days_abbr.each do |day_abbr| %>
        <% @opacity_coeff_habits.each do |date, counter| %>
          <% if day_abbr != day_time(date) %>
            <div >
              <div class=" item-dashboard"><%= day_abbr %></div>
              <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-10 color-icon"></i></div>
            </div>
            <% @day + 1.day %>
          <% else %>
            <div>
              <div class=" item-dashboard"><%= day_abbr %></div>
              <div class=" item-dashboard"> <i class="fas fa-circle neat-opacity-<%=(counter * 100).to_i%> color-icon"></i></div>
              <% @day + 1.day %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
