<%= simple_form_for task,
  url: mark_as_done_task_path(task),
  namespace: "task_#{task.id}",
  html: {
    class: "form-inline",
    data: { controller: 'check-task' }
  } do |f|  %>

      <div class="<%= task.tag_list.present? ? 'parent-conditionnel' : 'parent' %> mb-3" data-controller="edit-task-form">
        <div class="div1-conditionnel">
           <fieldset class="boolean optional task_mark_as_done">
            <div class="form-check">
              <input name="task[mark_as_done]" type="hidden" value="0">
              <input class="form-check-input is-valid boolean optional" data-action="change->check-task#submit" type="checkbox" value="<%= task.mark_as_done? ? 1 : 0 %>"  <%= "checked=checked" if task.mark_as_done? %> name="task[mark_as_done]" id="task_<%= task.id %>_task_mark_as_done">
              <label class="form-check-label boolean optional" for="task_<%= task.id %>_task_mark_as_done"></label>
            </div>
          </fieldset>
        </div>
        <div class="div2-conditionnel" data-path=<%= edit_task_path(task) %> data-action="click->task-form#toggleForm">
          <%= truncate(task.name, length: 25) %>
        </div>
        <div class="div3-conditionnel">
          <%= link_to prioritize_task_path(task), method: :patch do %>
            <svg class="<%= "active" if task.priority %>" width="24" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.986 8.974-2.532-5.49a.5.5 0 0 0-.908 0l-2.533 5.49a.5.5 0 0 1-.395.287l-6.003.712a.5.5 0 0 0-.281.864l4.439 4.105a.5.5 0 0 1 .15.464l-1.178 5.93a.5.5 0 0 0 .735.534l5.275-2.953a.5.5 0 0 1 .489 0l5.276 2.953a.5.5 0 0 0 .734-.534l-1.178-5.93a.5.5 0 0 1 .15-.464l4.44-4.105a.5.5 0 0 0-.281-.864l-6.004-.712a.5.5 0 0 1-.395-.287Z" stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          <% end %>
        </div>
        <% if task.tag_list.present? %>
          <div class="div4-conditionnel">
            <% task.tag_list.each do |tag| %>
              <span class='tag_on_tasks_list'><%= tag %></span>
            <% end %>
          </div>
        <% end %>
      </div>

  <%= f.submit "ok", class: "d-none", 'data-check-task-target': 'submitBtn' %>
<% end %>
