<div class="container">
<%= render "hey" %>
<%= render "estimated_time" %>

<h4 class="index">TOP PRIORITY</h3>
<ul>
  <div class="list-container">
    <% @tasks.where(priority: true).not_done.each do |task|%>
      <%= simple_form_for task,
          url: mark_as_done_task_path(task),
          namespace: "task_#{task.id}",
          html: {
            class: "form-inline",
            data: { controller: 'check-task' }
          } do |f|  %>
          <%= link_to edit_task_path(task) do %>
          <div class="task-box task-list d-flex align-items-center">
            <%= f.input :mark_as_done, as: :boolean, input_html: { 'data-action': 'change->check-task#submit'} %>
            <%= task.name %>
          </div>
        <% end %>

        <%= f.submit "ok", class: "d-none", 'data-check-task-target': 'submitBtn' %>
      <% end %>
    <% end %>
    <% @tasks.where(priority: true).done.each do |task|%>
      <%= simple_form_for task,
          url: mark_as_done_task_path(task),
          namespace: "task_#{task.id}",
          html: {
            class: "form-inline",
            data: { controller: 'check-task' }
          } do |f|  %>
          <%= link_to edit_task_path(task) do %>
            <div class="task-box task-list d-flex align-items-center">
              <%= f.input :mark_as_done, as: :boolean, label: task.name, input_html: { 'data-action': 'change->check-task#submit'} %>
              <%= task.name %>
            </div>
        <% end %>
        <%= f.submit "ok", class: "d-none", 'data-check-task-target': 'submitBtn' %>
      <% end %>
    <% end %>
  </div>
</ul>

<h4 class="index">TASKS</h3>
<ul>
  <div class="list-container">
    <% @tasks.where(priority: false).not_done.each do |task|%>
      <%= simple_form_for task,
          url: mark_as_done_task_path(task),
          namespace: "task_#{task.id}",
          html: {
            class: "form-inline",
            data: { controller: 'check-task' }
          } do |f|  %>
          <%= link_to edit_task_path(task) do %>
            <div class="task-box task-list d-flex align-items-center">
              <%= f.input :mark_as_done, as: :boolean, label: task.name, input_html: { 'data-action': 'change->check-task#submit'} %>
              <%= task.name %>
            </div>
            <% end %>
        <%= f.submit "ok", class: "d-none", 'data-check-task-target': 'submitBtn' %>
      <% end %>
    <% end %>
    <% @tasks.where(priority: false).done.each do |task|%>
      <%= simple_form_for task,
          url: mark_as_done_task_path(task),
          namespace: "task_#{task.id}",
          html: {
            class: "form-inline",
            data: { controller: 'check-task' }
          } do |f|  %>
            <div class="task-box task-list">
              <%= f.input :mark_as_done, as: :boolean, label: task.name, input_html: { 'data-action': 'change->check-task#submit'} %>
            </div>
        <%= f.submit "ok", class: "d-none", 'data-check-task-target': 'submitBtn' %>
      <% end %>
    <% end %>
  </div>
</ul>

<script>
document.querySelectorAll(".form-check-label.boolean.optional").forEach(element => element.innerHTML = "")
</script>
</div>
