<div class="container" style="padding-bottom: 100px">
  <div class="d-flex justify-content-between">
    <div class="text-calendar">
      <%if user_signed_in? %>
        <%if @session.passed?%>
          <%=better_time(Date.tomorrow) %>
        <%else%>
          <%=better_time(Date.today) %>
        <%end%>
      <%else%>
        <%=better_time(Date.today)%>
      <%end%>
    </div>
    <div class="nav-link item-navbar h2 pt-1">
      <%if @session.passed? == false%>
        <%= link_to review_path, class: "text-nav" do %>
          <i class="fas fa-angle-double-right"></i>
        <% end %>
      <%else%>
        <%=link_to yesterday_path, method: :post do%>
          <i class="fas fa-angle-double-left"></i>
        <%end%>
      <%end%>
    </div>
  </div>
  <%= render "hey" %>
  <%= render "estimated_time" unless @estimated_time == "00:00" %>
  <hr>
  <%unless @tasks.where(priority: true).count == 0%>
    <p class="index-headers">High Priority</p>
    <ul style="padding-left: 0;">
      <div class="list-container">
        <% @tasks.where(priority: true).order(:mark_as_done).each do |task| %>
          <%= render 'task_form', task: task %>
        <% end %>
      </div>
    </ul>
    <hr>
  <%end%>
  <%unless @tasks.where(priority: false).count == 0%>
    <p class="index-headers">Tasks & Habits</p>
    <ul style="padding-left: 0;">
      <div class="list-container">
        <% @tasks.where(priority: false).order(:mark_as_done).each do |task|%>
          <%= render 'task_form', task: task %>
        <% end %>
      </div>
    </ul>
  <%end%>
</div>
