<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-item dropdown">
    <a class="fas fa-cog bloc-icon icon-color " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "Dashboard", profile_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
    </div>
  </div>

  <div class="text-nav-top">
    <%= better_time(Date.today) %>
  </div>

  <div>
    <%= link_to new_user_registration_path do %>
      <i class="fas fa-search bloc-icon icon-color "></i>
    <% end %>
  </div>
</div>
