<div class="container border-bottom border-secondary">
  <div>
    <div class="d-flex justify-content-between align-center py-3">
      <% if controller_name == "nextday" %>
        <div>
          <i class="fas fa-angle-left"></i>
          <%= link_to "Back", :back, class:"" %>
        </div>
      <% else %>
        <div></div>
      <% end %>

        <div class="nav-item dropdown">
          <a class="username-nav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">  <%= @username %>
            <svg height="32" viewBox="0 0 21 21" width="32" xmlns="http://www.w3.org/2000/svg"><path d="m6.5 7.5h4l-6 9v-6.997l-4-.003 6-9z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 2)"/></svg>
          </a>
          <div class="dropdown-menu dropdown-menu-pad" aria-labelledby="navbarDropdown item-navbar">
            <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link item-navbar" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Dashboard", profile_path, class: "nav-link item-navbar" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link item-navbar" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link item-navbar" %>
            </li>
          <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% link_to profile_path do %>
<% end %>
