<div class="container mt-4">
  <div class="text-calendar">
    <%= better_time(Date.today) %>
  </div>
    <hr>
  <div>
  <% today = Date.today %>
    <%  case @opacity_coeff[today] %>
      <% when 0 %>
      <h3>What a wonderful chillin' day! 😎 <br> You've done nothing 🦥 </h3>
      <% when (0.01..0.35) %>
      <h3>What a wonderful chillin' day! 😎 <br> You've done only <span class="achievement"><%= "#{@done_tasks_per_day[today]}" %></span> tasks today!</h3>
      <% when (0.36..0.75) %>
      <h3>Good job! 💪 <br> You made <span class="achievement"><%= "#{(@opacity_coeff[today] * 100).to_i}%" %></span> of your tasks list! </h3>
      <% when (0.76..1) %>
      <h3> You rocked it! 🚀 <br> You made <span class="achievement"><%= "#{(@opacity_coeff[today] * 100).to_i}%" %></span> of your tasks list!</h3>
    <% end %>
  </div>
  <hr>
  <div class="mt-3">
    <p class="mb-3">Review your tasks before moving to tomorrow <%@username%></p>
  </div>

  <ul style="padding-left: 0;">
    <div class="list-container">
      <%= simple_form_for :reset, url: reset_path, method: :post do |f| %>
        <% @tasks.today.each do |task| %>
          <%= render 'review_task', task: task %>
        <% end %>
        <%= f.submit "Go to tomorrow", class:"add-button next-day fixed-bottom" %>
      <% end %>
    </div>
  </ul>
</div>
