<!DOCTYPE html>
<html>
  <head>
    <title>Neatt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= params[:controller]%>-<%= params[:action]%>">
    <% if params[:action] == "review" %>
      <%= render 'shared/navbartoptwo' %>
    <% elsif  params[:action] != "home" %>
      <%= render 'shared/navbartop' %>
      <%= render 'shared/flashes' %>
    <% end %>
    <%= yield %>
    <% if params[:action] == "profile" || params[:action] == "new"  %>
      <%= render 'shared/navbartwo' %>
    <% elsif params[:action] != "home" && params[:action] != "review" %>
      <%= render 'shared/navbar' %>
    <% end %>
  </body>
</html>
